<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
    <link rel="stylesheet" type="text/css" href="Email.css" />
    <style></style>
  </head>
  <body>
    <div>
        <img src="file:/C:\Users\Acer\Downloads\img-1.jpeg" style="width: 100vw;" />
    <div class="email">
    <p>THANKS FOR SIGNING UP</p>
    <h1>Verify Your E-mail Address</h1>
</div>

<div class="email-1">
    <p><h7> Hi,</h7>
       <p> You're almost ready to get started. Please click on the button below to Verify</p>
        your email adress and enjoy shopping with us!
    </p>
</div >
<div >
<button type="button",>VERIFY YOUR EMAIL</div>
<div class="email-3" >
    <P>Thanks,</P>
        <p>Cartibuy Team</p>
    
</div>

<div class="email-4">
    <p>Get in touch</p>
    <p>+1234567890</p>
    <p>support@cartibuy.in</p>
</div>
<div  class="email-5"><h5>@2021 Cartibuy. All Rights Reserved</h5></div>
</div>
</body>


</html>
